.product:hover {
    transition: 0.5s;
    transform: scale(1.02);
}

.product-link {
    color: #000 !important;
    text-decoration: none

}

img {
    object-fit: cover;
}

.topbutton {
    width:100px;
    border:2px solid #ccc;
    background:#424242;
    text-align:center;
    padding:10px;
    position:fixed;
    bottom:50px;
    left:50px;
    cursor:pointer;
    color:#cccccc;
    font-family:verdana;
    font-size:12px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
}

/* _custom-forms.scss:240 */
.custom-file {
    position: relative;
    display: inline-block;
    width: 100%;
    margin-bottom: 0;
}
.pull-right-xs {
    float: right;
}

@media (min-width: 768px) {
    .pull-right-xs {
        float: left;
    }
}